* {
    margin: 50;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    height: 50vh;
    flex-direction: row;
}
.first-content {
    background-color: orange;
    padding: 2em;
    width:100%;

}
.second-content {
    background-color: rgb(11, 99, 114);
    padding: 2em;
    width:100%;

}
.third-content {
    background-color: rgb(19, 61, 19);
    padding: 2em;
    width:100%;

}
h2{
    color: white;
    text-align: left;
}
button{
    border-radius: 50px;
    margin: 10px;
    text-align: center;
}